body {
    margin: 0;
    padding: 0;
    background-color: #ca389a;
}

.collapse {
    justify-content: flex-end;
}

form {
    height: 700px;
    align-items: center;
}


.form-control {
    width: 150px;
    padding: 0;
}